apiVersion: apps/v1
kind: Deployment
metadata:
  name: payara-node
  labels:
    app: node
  generateName: example-
  ownerReferences:
    - apiVersion: apps/v1
      kind: Example
      name: placeholder
      uid: placeholder
spec:
  replicas: [# th:text="${instances}"/]
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      labels:
        app: node
    spec:
      containers:
        - name: node
          image: [# th:text="${instance_image}"/]
          command: [ "/bin/sh", "-c" ]
          args:
            - echo "AS_ADMIN_PASSWORD=${ADMIN_PASSWORD}" > ${PAYARA_PASSWORD_FILE};
              ${SCRIPT_DIR}/entrypoint.sh;
          resources:
            limits:
              cpu: "[# th:text="${cpu}"/]m"
              memory: "[# th:text="${memory}"/]Mi"
            requests:
              cpu: "[# th:text="${cpu}"/]m"
              memory: "[# th:text="${memory}"/]Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 28080
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 28080
            initialDelaySeconds: 30
            periodSeconds: 2
            failureThreshold: 20
          startupProbe:
            httpGet:
              path: /health
              port: 28080
            periodSeconds: 5
            failureThreshold: 40
          ports:
            - containerPort: 28080
          env:
            - name: PAYARA_DEPLOYMENT_GROUP
              value: '[# th:text="${deployment_group}"/]'
            - name: PAYARA_CONFIG_NAME
              value: '[# th:text="${config_name}"/]'
            - name: PAYARA_DAS_HOST
              value: '[# th:text="${das_host}"/]'